html {
  font-family: Helvetica;
  font-size: 20px;
}

/* Main app */

.mode {
  margin-bottom: 1em;
}

.mode__header {
  font-size: 1.4em;
}

/* Digital clock. */

.digital-display {
  display: flex;
  font-family: "Courier New", Courier, monospace;
  font-size: 2em;
}

.digital-display > div:not(:first-child)::before {
  content: ':';
}

.digital-options > label {
  display: flex;
  align-items: center;
}

/* Classic clock. */

.clockface-display {
  position: relative;
  width: 10em;
  height: 10em;
  border: solid .25em #eee;
  border-radius: 5.25em;
  z-index: 1;
}

.clockface-display::before {
  box-sizing: border-box;
  width: .5em;
  height: .5em;
  border-radius: .25em;
  background: #000;
  content: '';
  position: absolute;
  top: 4.75em;
  left: 4.75em;
  z-index: 2;
  border: solid 1px #aaa;
}

.clockface__hand--hour,
.clockface__hand--minute,
.clockface__hand--second {
  position: absolute;
  box-sizing: border-box;
  transform-origin: 50% 100%;
  background-color: #000;
  border: solid 1px #aaa;
}

.clockface__hand--hour {
  left: 4.8em;
  width: .4em;
  height: 2.5em;
  top: 2.5em;
  border-radius: .2em;
}

.clockface__hand--minute {
  left: 4.85em;
  width: .3em;
  height: 3em;
  top: 2em;
  border-radius: .15em;
}

.clockface__hand--second {
  left: 4.9em;
  width: .2em;
  height: 3.5em;
  top: 1.5em;
  border-radius: .1em;
}

.clockface-graduation-hour {
  counter-reset: graduation-hour;
  position: absolute;
  width: 10em;
  height: 10em;
}

.clockface-graduation-second {
  position: absolute;
  width: 10em;
  height: 10em;
}

.clockface-graduation-hour-item {
  counter-increment: graduation-hour;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2em;
  text-align: center;
}

.clockface-graduation-hour-item::before {
  content: counter(graduation-hour);
}

.clockface-graduation-second-item {
  height: .2em;
  width: 1px;
  background: #333;
  position: absolute;
  top: 0;
  left: 5em;
  transform-origin: 0 5em;
}

.clockface-graduation-second-item:nth-child(5n + 1) {
  width: 2px;
  height: .4em;
}


.clockface-options > label {
  display: flex;
  align-items: center;
}
