.digital > .display {
  display: flex;
  font-family: "Courier New", Courier, monospace;
  font-size: 2em;
}

.digital > .display > div:not(:first-child)::before {
  content: ':';
}

.digital > .options {
  font-family: Helvetica;
}

.digital > .options > label {
  display: flex;
  align-items: center;
}
