html {
  font-family: Helvetica;
}

.mode {
  margin-bottom: 1em;
}

.mode__header {
  font-size: 1.4em;
}

.digital > .display {
  display: flex;
  font-family: "Courier New", Courier, monospace;
  font-size: 2em;
}

.digital > .display > div:not(:first-child)::before {
  content: ':';
}

.digital > .options > label {
  display: flex;
  align-items: center;
}
